@font-face {
    font-family: 'Limelight';
    src: url('fonts/limelight-latin-400-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url('wallpaper.jpg') no-repeat center center/cover;
}

#lockscreen {
    text-align: center;
    color: white;
}

#time-date {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem
}

#lock {
    width: 4rem;
    color: white;
    padding: 1.6rem;
}

#time {
    font-size: 7.2rem;
    font-family: 'Limelight', serif;
}

#date {
    font-size: 3rem;
    font-family: 'JetBrainsMono Nerd Font', monospace;
}

#bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    padding: 0.8rem;
}

#profile {
    display: flex;
    align-items: center;
}

#avatar {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 50%;
}

#name {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 2.4rem;
    text-align: left;
}

#username {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 1.6rem;
    text-align: left;
}

#form {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#password-input {
    border-radius: 3rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 2.4rem;
    outline: none;
    padding: 0.8rem 1.6rem;
}

#password-input::placeholder {
    color: white;
}

#utils {
    display: flex;
}

.icon {
    width: 3rem;
    height: 3rem;
    padding: 0.8rem;
    color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
